.MaKitBadge {
    display: flex;
    align-items: center;
    gap: var(--badge-gap);
    overflow: hidden;
    box-sizing: border-box;
    height: var(--badge-height);
    padding: 0 var(--badge-horizontal-padding);
    background-color: var(--badge-bg-color);
    flex-shrink: 0;

    color: var(--badge-font-color);
    font-family: var(--font-base-family);
    font-weight: var(--badge-font-weight);
    font-size: var(--badge-font-size);
    line-height: var(--badge-height);
    letter-spacing: var(--badge-letter-spacing);
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    max-width: 100%;

    &__size {
        &_xs {
            --badge-height: var(--ma-space-16);
            --badge-horizontal-padding: var(--ma-space-8);
            --badge-gap: var(--ma-space-4);
            --badge-dot-size: var(--ma-space-6);
            --badge-border-radius: var(--ma-space-4);

            --badge-font-size: var(--font-description-size-s);
            --badge-font-weight: var(--font-description-weight-s);
            --badge-letter-spacing: var(--font-description-letter-spacing-s);
        }

        &_s {
            --badge-height: var(--ma-space-24);
            --badge-horizontal-padding: var(--ma-space-12);
            --badge-gap: var(--ma-space-6);
            --badge-dot-size: var(--ma-space-8);
            --badge-border-radius: var(--ma-space-4);

            --badge-font-size: var(--font-description-size-l);
            --badge-font-weight: var(--font-description-weight-l);
            --badge-letter-spacing: var(--font-description-letter-spacing-l);
        }
    }

    &__form {
        &_brick {
            border-radius: var(--badge-border-radius);
        }

        &_round {
            border-radius: var(--ma-radius-full);
        }
    }

    &__view {
        &_brand {
            --badge-dot-color: var(--color-typo-clear);
            --badge-dot-color-secondary: var(--color-typo-brand);
            --badge-font-color: var(--color-typo-clear);
            --badge-font-color-secondary: var(--color-typo-brand);
            --badge-bg-color: var(--color-bg-brand);
            --badge-bg-color-secondary: var(--color-bg-brand-secondary);
        }

        &_neutral {
            --badge-dot-color: var(--color-typo-clear);
            --badge-dot-color-secondary: var(--color-typo-secondary);
            --badge-font-color: var(--color-typo-clear);
            --badge-font-color-secondary: var(--color-typo-secondary);
            --badge-bg-color: var(--color-bg-neutral);
            --badge-bg-color-secondary: var(--color-bg-neutral-secondary);
        }

        &_success {
            --badge-dot-color: var(--color-typo-clear);
            --badge-dot-color-secondary: var(--color-typo-success);
            --badge-font-color: var(--color-typo-clear);
            --badge-font-color-secondary: var(--color-typo-success);
            --badge-bg-color: var(--color-bg-success);
            --badge-bg-color-secondary: var(--color-bg-success-secondary);
        }

        &_warning {
            --badge-dot-color: var(--color-typo-clear);
            --badge-dot-color-secondary: var(--color-typo-warning);
            --badge-font-color: var(--color-typo-clear);
            --badge-font-color-secondary: var(--color-typo-warning);
            --badge-bg-color: var(--color-bg-warning);
            --badge-bg-color-secondary: var(--color-bg-warning-secondary);
        }

        &_error {
            --badge-dot-color: var(--color-typo-clear);
            --badge-dot-color-secondary: var(--color-typo-error);
            --badge-font-color: var(--color-typo-clear);
            --badge-font-color-secondary: var(--color-typo-error);
            --badge-bg-color: var(--color-bg-error);
            --badge-bg-color-secondary: var(--color-bg-error-secondary);
        }
    }

    &__variant {
        &_secondary {
            background-color: var(--badge-bg-color-secondary);
            color: var(--badge-font-color-secondary);
            --badge-dot-color: var(--badge-dot-color-secondary);
        }
    }

    &--Dot {
        width: var(--badge-dot-size);
        height: var(--badge-dot-size);
        border-radius: var(--ma-radius-full);
        background-color: var(--badge-dot-color);
    }
}