.MaKitTheme {
  --ma-font-body-medium-size: 18px;
  --ma-font-body-medium-line-height: 26px;
  --ma-font-body-medium-letter-spacing: 0%;
  --ma-font-description-large-size: 12px;
  --ma-font-description-large-line-height: 16px;
  --ma-font-description-large-letter-spacing: 0.1%;
  --ma-font-heading-size: 28px;
  --ma-font-heading-line-height: 32px;
  --ma-font-heading-letter-spacing: 0%;
  --ma-font-family-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --ma-font-weight-bold: 700;
  --ma-font-weight-semibold: 600;
  --ma-font-weight-medium: 500;
  --ma-font-weight-regular: 400;
}
