.MaKitTheme {
  --ma-font-body-large-weight: 400;
  --ma-font-body-large-size: 22px;
  --ma-font-body-large-line-height: 32px;
  --ma-font-body-large-letter-spacing: 0%;
  --ma-font-body-large-strong-weight: 500;
  --ma-font-body-large-strong-size: 22px;
  --ma-font-body-large-strong-line-height: 32px;
  --ma-font-body-large-strong-letter-spacing: 0%;
  --ma-font-body-medium-weight: 400;
  --ma-font-body-medium-size: 18px;
  --ma-font-body-medium-line-height: 26px;
  --ma-font-body-medium-letter-spacing: 0%;
  --ma-font-body-medium-strong-weight: 500;
  --ma-font-body-medium-strong-size: 18px;
  --ma-font-body-medium-strong-line-height: 26px;
  --ma-font-body-medium-strong-letter-spacing: 0%;
  --ma-font-body-small-weight: 400;
  --ma-font-body-small-size: 16px;
  --ma-font-body-small-line-height: 22px;
  --ma-font-body-small-letter-spacing: 0%;
  --ma-font-body-small-strong-weight: 500;
  --ma-font-body-small-strong-size: 16px;
  --ma-font-body-small-strong-line-height: 22px;
  --ma-font-body-small-strong-letter-spacing: 0%;
  --ma-font-body-x-large-weight: 400;
  --ma-font-body-x-large-size: 28px;
  --ma-font-body-x-large-line-height: 36px;
  --ma-font-body-x-large-letter-spacing: 0%;
  --ma-font-body-x-large-strong-weight: 500;
  --ma-font-body-x-large-strong-size: 28px;
  --ma-font-body-x-large-strong-line-height: 36px;
  --ma-font-body-x-large-strong-letter-spacing: 0%;
  --ma-font-body-x-small-weight: 400;
  --ma-font-body-x-small-size: 14px;
  --ma-font-body-x-small-line-height: 20px;
  --ma-font-body-x-small-letter-spacing: 0%;
  --ma-font-body-x-small-strong-weight: 500;
  --ma-font-body-x-small-strong-size: 14px;
  --ma-font-body-x-small-strong-line-height: 20px;
  --ma-font-body-x-small-strong-letter-spacing: 0%;
  --ma-font-display-large-weight: 500;
  --ma-font-display-large-size: 48px;
  --ma-font-display-large-line-height: 56px;
  --ma-font-display-large-letter-spacing: -0.6%;
  --ma-font-display-large-strong-weight: 700;
  --ma-font-display-large-strong-size: 48px;
  --ma-font-display-large-strong-line-height: 56px;
  --ma-font-display-large-strong-letter-spacing: -0.6%;
  --ma-font-display-x-large-weight: 500;
  --ma-font-display-x-large-size: 56px;
  --ma-font-display-x-large-line-height: 64px;
  --ma-font-display-x-large-letter-spacing: -0.8%;
  --ma-font-display-x-large-strong-weight: 700;
  --ma-font-display-x-large-strong-size: 56px;
  --ma-font-display-x-large-strong-line-height: 64px;
  --ma-font-display-x-large-strong-letter-spacing: -0.8%;
  --ma-font-family-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --ma-font-size-bold: 700;
  --ma-font-size-semibold: 600;
  --ma-font-size-medium: 500;
  --ma-font-size-regular: 400;
}
