.MaKitTheme {
    --color-base-base: var(--ma-color-neutral-900); /* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
    --color-base-essential: var(--ma-color-neutral-0); /* Базовый цвет поверхностей */
    --color-base-stroke: var(--ma-color-neutral-100); /* Тонирующий цвет, от которого выстраиватся бордеры, оверлей под модальными окнами, ... */
    --color-base-shadow: var(--ma-color-neutral-600); /* Тонирующий цвет, от которого выстраиватся бордеры, оверлей под модальными окнами, ... */

    --color-base-primary: var(--ma-color-primary-500); /* Цвет контролов primary, от которого выстраиваются все их состояния */
    --color-base-accent: var(--ma-color-accent-500); /* Цвет контролов accent, от которого выстраиваются все их состояния */
    --color-base-neutral: var(--ma-color-neutral-50); /* Цвет контролов neutral, от которого выстраиваются все их состояния */
    --color-base-link: var(--ma-color-link-500); /* Цвет ссылок, от которого выстраиваются все их состояния */
    --color-base-success: var(--ma-color-success-500); /* Цвет успеха */
    --color-base-warning: var(--ma-color-warning-500); /* Цвет предупреждения */
    --color-base-error: var(--ma-color-error-500); /* Цвет ошибки */

    /* ---- Цвета фонов ---- */
    --color-bg-default: hsl(from var(--color-base-essential) h s l); /* Дефолтный цвет */
    --color-bg-secondary: hsl(from var(--color-base-neutral) h s l); /* Второстепенный цвет */

    --color-bg-brand: hsl(from var(--color-base-primary) h calc(s - 8) calc(l + 10)); /* Брендовый цвет */
    --color-bg-brand-secondary: hsl(from var(--color-base-primary ) h calc(s - 8) calc(l + 45)); /* Дополнительный брендовый цвет */

    --color-bg-accent: hsl(from var(--color-base-accent) h s calc(l + 8)); /* Акцентный цвет */
    --color-bg-accent-secondary: hsl(from var(--color-base-accent ) h s calc(l + 36)); /* Дополнительный акцентный цвет */

    --color-bg-neutral: hsl(from var(--color-base-neutral) h s calc(l - 35)); /* Нейтральный цвет */
    --color-bg-neutral-secondary: hsl(from var(--color-base-neutral) h s l); /* Дополнительный нейтральный цвет */

    --color-bg-success: hsl(from var(--color-base-success) h calc(s - 20) calc(l + 10)); /* Цвет фона успешный */
    --color-bg-success-secondary: hsl(from var(--color-base-success) h calc(s - 20) calc(l + 45)); /* Дополнительный цвет фона успешный */

    --color-bg-warning: hsl(from var(--color-base-warning) h s calc(l + 8)); /* Цвет фона предупреждения */
    --color-bg-warning-secondary: hsl(from var(--color-base-warning) h s calc(l + 36) ); /* Дополнительный цвет фона предупреждения */

    --color-bg-error: hsl(from var(--color-base-error)  h s calc(l + 8)); /* Цвет фона ошибки */
    --color-bg-error-secondary: hsl(from var(--color-base-error) h s calc(l + 36)); /* Дополнительный цвет фона ошибки */

    /* ---- Цвета текста ---- */
    --color-typo-primary: hsl(from var(--color-base-base) h s l); /* Основной цвет текста */
    --color-typo-secondary: hsl(from var(--color-base-base) h s calc(l + 30)); /* Второстепенный цвет текста */
    --color-typo-ghost: hsl(from var(--color-base-base) h calc(s - 8) calc(l + 50)); /* Дополнительный цвет текста */
    --color-typo-disabled: hsl(from var(--color-base-base) h calc(s - 8) calc(l + 70)); /* Цвет текста задизабленный */
    --color-typo-clear: hsl(from var(--color-base-base) h s calc(l + 100)); /* Цвет текста белый */

    --color-typo-brand: hsl(from var(--color-base-primary) h s l); /* Основной брендовый цвет текста */
    --color-typo-success: hsl(from var(--color-base-success) h s l); /* Основной цвет текста успешный */
    --color-typo-warning: hsl(from var(--color-base-warning) h s l); /* Основной цвет текста предупрежедения */
    --color-typo-error: hsl(from var(--color-base-error) h s l); /* Основной цвет текста ошибки */

    --color-typo-link: hsl(from var(--color-base-link) h s l); /* Цвет текста ссылки */
    --color-typo-link-hover: hsl(from var(--color-base-link) h s calc(l + 10)); /* Цвет текста ссылки по ховеру */

    /* ---- Цвета скроллбара ---- */
    --color-scroll-bg: hsl(from var(--color-base-neutral) h s l);
    --color-scroll-thumb: hsl(from var(--color-base-stroke) h s calc(l - 15));
    --color-scroll-thumb-hover: hsl(from var(--color-base-stroke) h s calc(l - 35));

    /* ---- Цвета контролов ---- */
    /* Default */
    --color-control-bg: hsl(from var(--color-base-essential) h s l); /* Цвет фона контрола */
    --color-control-bg-disabled: hsl(from var(--color-base-neutral) h s l); /* Цвет фона контрола при дизейбле */

    --color-control-border: hsl(from var(--color-base-stroke) h s l); /* Цвет фона бордеров котрола */
    --color-control-border-hover: hsl(from var(--color-base-stroke) h s calc(l - 10)); /* Цвет фона бордеров контрола по ховеру */
    --color-control-border-focus: hsl(from var(--color-base-primary) h s l); /* Цвет аутлайна контролов при фокусе */

    --color-control-typo-default: hsl(from var(--color-base-base) h s l); /* Цвет основного текста контрола */
    --color-control-typo-label: var(--color-typo-secondary); /* Цвет лейбла */
    --color-control-typo-placeholder: var(--color-typo-ghost); /* Цвет плейсхолдера контрола */
    --color-control-typo-hint: var(--color-typo-ghost); /* Цвет описания контрола */

    /* Primary */
    --color-control-bg-primary: hsl(from var(--color-base-primary) h s l); /* Цвет фона активного контрола */
    --color-control-bg-primary-hover: hsl(from var(--color-base-primary) h calc(s - 8) calc(l + 10)); /* Цвет фона активного контрола по ховеру */
    --color-control-bg-primary-focus: hsl(from var(--color-base-primary) h s calc(l - 10)); /* Цвет фона активного контрола при фокусе */
    --color-control-bg-primary-disabled: hsl(from var(--color-base-primary) h calc(s - 8) calc(l + 45)); /* Цвет фона активного контрола при дизейбле */
    --color-control-typo-primary: hsl(from var(--color-base-base) h s calc(l + 100)); /* Цвет акцентного текста */
    --color-control-typo-primary-hover: hsl(from var(--color-base-base) h s calc(l + 100)); /* Цвет акцентного текста по ховеру */
    --color-control-typo-primary-disabled: hsl(from var(--color-base-primary) h calc(s - 8) calc(l + 30)); /* Цвет акцентного текста при дизейбле */

    /* Accent */
    --color-control-bg-accent: hsl(from var(--color-base-accent) h s l); /* Цвет фона активного контрола */
    --color-control-bg-accent-hover: hsl(from var(--color-base-accent) h s calc(l + 10)); /* Цвет фона активного контрола по ховеру */
    --color-control-bg-accent-focus: hsl(from var(--color-base-accent) h s calc(l - 10)); /* Цвет фона активного контрола при фокусе */
    --color-control-bg-accent-disabled: hsl(from var(--color-base-accent) h s calc(l + 35)); /* Цвет фона активного контрола при дизейбле */
    --color-control-typo-accent: hsl(from var(--color-base-base) h s calc(l + 100)); /* Цвет акцентного текста */
    --color-control-typo-accent-hover: hsl(from var(--color-base-base) h s calc(l + 100)); /* Цвет акцентного текста по ховеру */
    --color-control-typo-accent-disabled: hsl(from var(--color-base-accent) h calc(s - 8) calc(l + 20)); /* Цвет акцентного текста при дизейбле */

    /* Neutral */
    --color-control-bg-neutral: hsl(from var(--color-base-neutral) h s l); /* Цвет фона активного контрола */
    --color-control-bg-neutral-hover: hsl(from var(--color-base-neutral) h s calc(l - 5)); /* Цвет фона активного контрола по ховеру */
    --color-control-bg-neutral-focus: hsl(from var(--color-base-neutral) h s calc(l - 10)); /* Цвет фона активного контрола по ховеру */
    --color-control-bg-neutral-disabled: hsl(from var(--color-base-neutral) h s l); /* Цвет фона активного контрола при дизейбле */
    --color-control-typo-neutral: hsl(from var(--color-base-base) h s calc(l + 30)); /* Цвет акцентного текста */
    --color-control-typo-neutral-hover: hsl(from var(--color-base-base) h s l); /* Цвет акцентного текста по ховеру */
    --color-control-typo-neutral-disabled: hsl(from var(--color-base-base) h calc(s - 8) calc(l + 70)); /* Цвет акцентного текста при дизейбле */
}