.MaKitTheme {
  --ma-color-accent-50: #FFE6DB;
  --ma-color-accent-100: #FFD4C2;
  --ma-color-accent-200: #FFB798;
  --ma-color-accent-300: #FFA076;
  --ma-color-accent-400: #ff8854;
  --ma-color-accent-500: #ff7032;
  --ma-color-accent-600: #d55d2a;
  --ma-color-accent-700: #aa4b21;
  --ma-color-accent-800: #803819;
  --ma-color-accent-900: #552511;
  --ma-color-error-50: #FAD7DE;
  --ma-color-error-100: #F6BBC6;
  --ma-color-error-200: #F292A4;
  --ma-color-error-300: #EE6E86;
  --ma-color-error-400: #E94967;
  --ma-color-error-500: #EB385A;
  --ma-color-error-600: #BF1F3D;
  --ma-color-error-700: #991931;
  --ma-color-error-800: #721224;
  --ma-color-error-900: #4C0C18;
  --ma-color-link-50: #CDEDFD;
  --ma-color-link-100: #ACE1FC;
  --ma-color-link-200: #82D2FA;
  --ma-color-link-300: #58C3F8;
  --ma-color-link-400: #2FB4F7;
  --ma-color-link-500: #0AB6F5;
  --ma-color-link-600: #0489CC;
  --ma-color-link-700: #036EA3;
  --ma-color-link-800: #02527A;
  --ma-color-link-900: #023752;
  --ma-color-neutral-0: #FFFFFF;
  --ma-color-neutral-10: #FAFAFC;
  --ma-color-neutral-25: #F7F8FA;
  --ma-color-neutral-50: #F5F5F7;
  --ma-color-neutral-100: #EBECF0;
  --ma-color-neutral-150: #E1E3E8;
  --ma-color-neutral-200: #D3D5DB;
  --ma-color-neutral-300: #C0C4CC;
  --ma-color-neutral-400: #868C98;
  --ma-color-neutral-500: #525866;
  --ma-color-neutral-600: #31353F;
  --ma-color-neutral-700: #20232D;
  --ma-color-neutral-800: #161922;
  --ma-color-neutral-900: #0D111A;
  --ma-color-primary-10: #D5E9FD;
  --ma-color-primary-25: #D5E9FD;
  --ma-color-primary-50: #D5E9FD;
  --ma-color-primary-100: #C0DEFC;
  --ma-color-primary-200: #8CC4FA;
  --ma-color-primary-300: #55A8F8;
  --ma-color-primary-400: #2A93F7;
  --ma-color-primary-500: #007BF5;
  --ma-color-primary-600: #0068CC;
  --ma-color-primary-700: #0053A3;
  --ma-color-primary-800: #003E7A;
  --ma-color-primary-900: #002A52;
  --ma-color-success-50: #D3F5E8;
  --ma-color-success-100: #B5EED9;
  --ma-color-success-200: #90E5C6;
  --ma-color-success-300: #6BDDB4;
  --ma-color-success-400: #38D19A;
  --ma-color-success-500: #17BD80;
  --ma-color-success-600: #1BAA76;
  --ma-color-success-700: #16885F;
  --ma-color-success-800: #106647;
  --ma-color-success-900: #0B442F;
  --ma-color-warning-50: #FDEED6;
  --ma-color-warning-100: #FCE3BA;
  --ma-color-warning-200: #FAD498;
  --ma-color-warning-300: #F8C676;
  --ma-color-warning-400: #F7B853;
  --ma-color-warning-500: #F5A627;
  --ma-color-warning-600: #CC8E29;
  --ma-color-warning-700: #A37121;
  --ma-color-warning-800: #7A5518;
  --ma-color-warning-900: #523910;
}
