.MaKitTheme {
  --ma-color-accent-500: #FE6A2A;
  --ma-color-error-500: #EB385A;
  --ma-color-link-500: #05A5F5;
  --ma-color-neutral-0: #FFFFFF;
  --ma-color-neutral-50: #EBEDEF;
  --ma-color-neutral-150: #CFD3D8;
  --ma-color-neutral-500: #657690;
  --ma-color-neutral-900: #101317;
  --ma-color-primary-400: #3395F7;
  --ma-color-primary-500: #007AF5;
  --ma-color-success-500: #18C887;
  --ma-color-warning-500: #F4A627;
}
